        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            [% FOREACH r IN menu_urls %]
            <a href="/play/[% game %]/[% year %]/[% turn %]/[% r %]" class="list-group-item 
            [% IF r == active %]active">
            [% ELSE %]">
            [% END %][% menu.$r %]</a>
            [% END %]
          </div>
        </div><!--/.sidebar-offcanvas-->

