[% INCLUDE blocks/head.tt %]
<div class="col-xs-12 col-sm-9">
[% IF message %]
<div class="alert alert-warning" role="alert">[% message %]</div>
[% END %]

[% form %]
</div>
</div>
[% INCLUDE blocks/foot.tt %]

